<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Doctorq</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>doctorq</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>17</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Приложению требуется доступ к камере для проведения видеоконсультаций с врачами</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Приложению требуется доступ к микрофону для аудио- и видеоконсультаций с врачами</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Приложению требуется доступ к фото библиотеке для загрузки медицинских документов и снимков</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Приложению требуется доступ к распознаванию речи для удобства ввода текста во время консультаций</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Приложению требуется доступ к геолокации для поиска ближайших врачей и медицинских учреждений</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Приложению требуется доступ к геолокации для поиска ближайших врачей и медицинских учреждений</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
